@import "./globals.css";

.prose {
  @apply text-secondary prose-headings:mb-4 prose-headings:mt-8 prose-headings:font-normal prose-h1:text-xl prose-h2:text-lg prose-h3:text-base prose-code:before:hidden prose-code:after:hidden prose-hr:my-4 min-w-full;
}

.prose a {
  @apply text-secondary cursor-pointer font-normal underline-offset-2;
}

.prose blockquote {
  @apply border-gray-2 border-l-4 italic [&_p]:font-medium [&_p]:before:hidden [&_p]:after:hidden;
}

.prose pre {
  @apply border-gray-2 bg-gray-3 text-secondary rounded-lg border;
}

.prose pre code {
  @apply text-secondary border-0 bg-inherit p-0;
}

.prose code {
  @apply border-gray-2 bg-gray-3 text-secondary rounded-lg border px-1 py-0.5 font-normal;
}

.prose ul {
  @apply text-secondary marker:text-gray-1 list-outside list-disc;
}

.prose ul > li {
  @apply mt-2 leading-6;
}

.prose ol {
  @apply text-secondary marker:text-gray-1 list-outside list-decimal;
}

.prose ol > li {
  @apply text-secondary marker:text-gray-1 list-outside list-decimal leading-4.5;
}

.prose ul[class="contains-task-list"] li[class="task-list-item"] {
  @apply list-none [&_p]:my-0;
}
.prose
  ul[class="contains-task-list"]
  > li[class="task-list-item"]
  > ul[class="contains-task-list"] {
  @apply pl-4.4 my-2;
}
.prose ul[class="contains-task-list"] {
  @apply my-4 pl-0;
}

.prose ul[class="contains-task-list"] > li > p {
  @apply flex items-center;
}

.prose ul[class="contains-task-list"] > li > p > input[type="checkbox"] {
  @apply bg-gray-2 relative m-0 mr-1.5 flex size-4 appearance-none items-center justify-center rounded-md border border-transparent transition-colors marker:list-none;
}

.prose
  ul[class="contains-task-list"]
  > li
  > p
  > input[type="checkbox"]:checked {
  background-color: var(--blue);
  background-image: url("data:image/svg+xml,%3csvg viewBox='0 0 16 16' fill='white' xmlns='http://www.w3.org/2000/svg'%3e%3cpath d='M12.207 4.793a1 1 0 010 1.414l-5 5a1 1 0 01-1.414 0l-2-2a1 1 0 011.414-1.414L6.5 9.086l4.293-4.293a1 1 0 011.414 0z'/%3e%3c/svg%3e");
}

.prose hr {
  @apply border-gray-2;
}

.prose img {
  @apply border-gray-3 rounded-md border first:mt-0;
}

.prose ul[class="contains-task-list"] > li > p {
  @apply has-[:checked]:text-gray-4 has-[:checked]:line-through has-[:checked]:decoration-2;
}

.prose span[data-latex][data-display="yes"] {
  @apply block text-center;
}

.prose p > span[data-latex][data-display="yes"] {
  @apply block text-center;
}
